body {
  margin: 0;
  padding: 0;
  background-color: #dff6ff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 30%;
  margin: auto;
}
h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
main {
  width: 70%;
  margin: auto;
}

.header {
  width: 80%px;
  height: 20%;

  text-align: center;
  /* display: flex; */
}

.header > h1 {
  font-size: 5rem;
  top: 30px;
  position: relative;
  font-family: 'Sacramento', cursive;
  color: #47b5ff;
  animation-name: header-h1;
  animation-duration: 4s;
  margin-bottom: 40px;
  font-weight: 900;
}
@keyframes header-h1 {
  0% {
    top: -250px;
    color: antiquewhite;
  }
  15% {
    color: aqua;
  }
  25% {
    color: rgb(196, 196, 19);
  }
  45% {
    color: azure;
  }
  65% {
    color: bisque;
  }
  80% {
    color: rgb(179, 107, 20);
  }
  100% {
    top: 30px;
    color: #47b5ff;
  }
}
.header > h2 {
  position: relative;
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
  animation-name: header-h2;
  animation-duration: 5s;
  text-shadow: -8px -5px 4px #47b5ff;
  color: rgba(66, 123, 206, 0.83);
  margin-bottom: 50px;
}

@keyframes header-h2 {
  0% {
    left: -1500px;
    visibility: hidden;
  }
  80% {
    visibility: hidden;
  }
  90% {
    visibility: hidden;
  }
  100% {
    left: 0px;
    visibility: visible;
  }
}

.header-img {
  position: relative;
  width: 60%;
  border-radius: 50%;
  animation-name: header-img;
  animation-duration: 4s;
  transition-property: transform;
  transition-duration: 1.5s;
}
.header-img:hover {
  transform: rotate(360deg);
}
@keyframes header-img {
  0% {
    left: -1550px;
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    left: 0px;
  }
}
hr {
  border: dotted #2acbcb 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}
p {
  font-size: 2.5rem;
  color: #47b5ff;
}
.hobbies {
  height: 200px;
  color: rgb(4, 31, 31);
}
span {
  font-family: 'Inconsolata', monospace;
  color: rgb(51, 31, 165);
}
.click {
  font-family: 'Permanent Marker', cursive;
  font-weight: 900;
  font-size: 3.5rem;
  margin-top: 150px;
}
.games-flex {
  height: 300px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.game-p {
  width: 150px;
  font-size: 25px;
  align-self: center;
  order: 0;
}
.game-1 {
  position: relative;
  order: -1;
  flex-grow: 2;
  animation: game-1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes game-1 {
  0% {
    left: -400px;
  }
  100% {
    left: 200px;
  }
}
.game-2 {
  position: relative;
  flex-grow: 2;
  animation: game-2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes game-2 {
  0% {
    right: -400px;
  }

  100% {
    right: 200px;
  }
}
.footer {
  height: 50px;
}
.footer img {
  height: 30px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.footer img:hover {
  height: 50px;
}
.hidden {
  visibility: hidden;
}
.container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  margin: 15px auto;
  width: 90px;
  height: 90px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}
.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box span img:hover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition-duration: 1s;
}
.copyright {
  color: #12a5a5;
  font-size: 0.75rem;
  padding: 20px 0;
}
.form {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

input {
  width: 200px;
}
#balloon-container {
  height: 50vh;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.balloon {
  height: 125px;
  width: 105px;
  border-radius: 75% 75% 70% 70%;
  position: relative;
}

.balloon:before {
  content: '';
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #fdfd96;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
  content: '▲';
  text-align: center;
  display: block;
  position: absolute;
  color: inherit;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes float {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }
  to {
    transform: translateY(-300vh);
    opacity: 0;
  }
}

.btn {
  margin: 10px auto;
  font-size: 2rem;
  width: 300px;

  border-radius: 10px;
  background-color: #62c7c7;
}
.connect {
  font-size: 2.5rem;
  border-radius: 10px;
  background-color: #c1dfdf;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a {
  text-decoration: none;
}
